<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>

</head>
<body>
<!-- <button ng-click="getAll()"> ok</button> -->



<div ng-app="appAgileApp">
  <div ng-controller="EpicCtrl">
    <table style="width: 100%">
      <tr>
    <td>
  <form name="form" ng-submit="submitForm()">


    Name of Epic:    <br/><input type="text" ng-model="name" name="name">    <br/><br/>

    <input type="submit" id="submit" value="Submit" ng-click="submitted=true">

  </form>
    </td>
    <td>
      <table class="table">
        <tr>
          <th>Name
          </th>
        </tr>
        <tr ng-repeat="epic in epics">
          <td>
            <a ng-href="#/epic/{{epic.id}}" class="">{{epic.name}}</a>
          </td>

          <td>
            <button class="btn btn-primary" ng-click="delete_epic(epic.id)" style="display:inline">Delete</button>
          </td>
        </tr>
      </table>

    </td>
      </tr>
      </table>

  </div>
</div>




</body>
</html>



