<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    STORIES
    <div ng-app="appAgileApp">
      <div ng-controller="StoryCtrl">
        <table style="width: 100%">
          <tr>
            <td>
              <form class="form-horizontal" role="form" ng-submit="addRow(story)">
                <div class="form-group">
                  <label class="col-md-2 control-label">Name</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" name="name"
                           ng:required ng-model="story.name" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">Effort</label>
                  <div class="col-md-4">
                    <input type="number" min=1 class="form-control" name="employees"
                           ng:required ng-model="story.effort" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">Priorité</label>
                  <div class="col-md-4">
                    <input type="number" min=1 class="form-control" name="priority"
                           ng:required ng-model="story.priority" />
                  </div>
                </div>
                <div class="form-group">
                  <div style="padding-left:110px">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                  </div>
                </div>
              </form>
            </td>
            <td>
              <table class="table">
                <tr>
                  <th>Name
                  </th>
                  <th>Effort
                  </th>
                  <th>Priorité
                  </th>
                </tr>
                <tr ng-repeat="story in stories">
                  <td>
                    <a ng-href="#/story/{{story.id}}" class="">{{story.name}}</a>
                  </td>
                  <td>{{story.effort}}
                  </td>
                  <td>{{story.priority}}
                  </td>
                  <td>
                    <button class="btn btn-primary" ng-click="delete_story(story.id)" style="display:inline">Delete</button>
                  </td>
                </tr>
              </table>

          </td>
            </tr>

        </table>

      </div>
    </div>
</body>
</html>
