<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
TASKS
<div ng-app="appAgileApp">
  <div ng-controller="TaskModifCtrl">
    <form class="form" name="form" >
      <input type="text" placeholder="{{task.name}}" value="{{task.name}}" required ng-model="task.name">
      <select name="status" id="singleSelect" required ng-model="task.status">
        <option value="">Select status</option> <!-- not selected / blank option -->
        <option value="todo">TODO</option>
        <option value="doing">DOING</option>
        <option value="done">DONE</option>
      </select>
      <select name="status" id="singleSelect" required ng-model="task.user_id">
        <option value="">Select User</option> <!-- not selected / blank option -->
        <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
      </select>
      <input type="submit" ng-click="modifForm(task)">


    </form>



    <!--<code>{{tasks | json}}</code>-->
  </div>
</div>
</body>
</html>
