<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
TASKS
<div ng-app="appAgileApp">
    <div ng-controller="TaskCtrl">
        <form class="form" name="form" >
            <input type="text" placeholder="Entrez un nom" name="name" required ng-model="task.name">
                <select name="status" id="singleSelect" required ng-model="task.status">
                  <option value="">Select status</option> <!-- not selected / blank option -->
                  <option value="todo">TODO</option>
                  <option value="doing">DOING</option>
                  <option value="done">DONE</option>
                </select>
            <input type="submit" ng-click="submitForm(task)">


        </form>
      <td>
        <table class="table">
          <tr>
            <th>Name
            </th>
            <th>Status
            </th>
            <th>User
            </th>
          </tr>
          <tr ng-repeat="task in myTasks">
            <td>
              <a ng-href="#/task/{{task.id}}" class="">{{task.name}}</a>
            </td>
            <td>{{task.status}}
            </td>
            <td>{{task.users[0].name}}
            </td>
            <td>
              <button class="btn btn-primary" ng-click="delete_task(task.id)" style="display:inline">Delete</button>
            </td>
          </tr>
        </table>

      </td>


        <!--<code>{{tasks | json}}</code>-->
    </div>
</div>
</body>
</html>
