<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
USER
<div ng-app="appAgileApp">
  <div ng-controller="UserCtrl">
    <form class="form" name="form">
      <input type="text" placeholder="Entrez un nom" name="name" required ng-model="user.name">
      <input type="submit" ng-click="submitForm(user)">
    </form>
    <ul>
      <li ng-repeat="user in users">{{user.name}}</li>
    </ul>

    <!--<code>{{tasks | json}}</code>-->
  </div>
</div>
</body>
</html>
